html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F7FF;
    color: #000080;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: #176fc7;
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0;
}

header h1 {
    margin: 0;
    color: white;
}

main {
    flex-grow: 1;
    background-image: url("/img/fondo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

footer {
    background-color: #176fc7;
    color: white;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}

footer p {
    margin: 5px 0;
}

h2 {
    font-size: 22px;
    color: #0d3c85;
    border-left: 4px solid #176fc7;
    padding-left: 10px;
    margin-top: 0;
}

h3 {
    font-size: 18px;
    color: #0d3c85;
    margin-bottom: 8px;
}

button {
    background: #176fc7;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.15s;
}

button:hover {
    background: #0f56a3;
}

button:active {
    transform: scale(0.95);
}

label {
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
    color: #0d3c85;
}

select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #b3c6e0;
    background: #eef3ff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

select:hover {
    background: #e3ecff;
}

select:focus {
    outline: none;
    border-color: #176fc7;
    box-shadow: 0 0 6px rgba(23,111,199,0.4);
}

#color-display {
    font-weight: bold;
    color: #0f56a3;
    font-size: 15px;
}

/* Layout interno: dos columnas */
.layout {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/* Columna izquierda */
.left-col {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 200px;
}

/* Columna derecha */
.right-col {
    flex: 1;
    max-width: 350px;
    margin-left: 400px;
}

/* Contenedor general */
.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titulo-centro {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

/* Tarjeta temperatura */
.temp-container {
    background: rgba(255, 255, 255, 0.82);
    padding: 20px;
    border-radius: 12px;
    margin-top: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

#tempSlider {
    width: 100%;
    margin-top: 8px;
}

/* Responsive */
@media (max-width: 700px) {
    .layout {
        flex-direction: column;
        text-align: center;
    }

    .right-col {
        max-width: none;
    }
}
